<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <div class="header" id="heading">
            <h1>Resume</h1>
            <hr>
        </div>
        <form action="/add-doc" method="POST">
            <button type="submit" class="btn btn-primary">Add a new Document</button>
        </form>

        <hr class="hr_bottom">
    </div>
</body>
</html>