<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Document empty</title>
</head>
<body>
    <div class="container">
        <div class="header" id="heading">
            <h1>Resume</h1>
            <h4>This Document is empty.</h4>
            <hr>
            <h4>...</h4>
        </div>
    </div>
</body>
</html>